<div class='notice'>
  <b> <%= notice%> </b>
</div>

<div class='hello'>
  <%- if user_signed_in? %>
    <p>
      Welcome! <%= current_user.name %>
      <%= link_to 'exit', destroy_user_session_path, method: :delete%>
    </p>
  <%- end %>
</div>

<ul>
  <li>
    <%= link_to 'home', root_path%>
  </li>
  <%- unless user_signed_in? %>
    <li>
      <%= link_to 'subscribe', new_user_registration_path%>
    </li>
    <li>
      <%= link_to 'subscribe', new_user_session_path%>
    </li>
  <%- end%>
</ul>