<div>
  <%= f.label :published%>
  <%= f.check_box :published%>
</div>

<div>
  <%= f.label :title%>
  <%= f.text_field :title%>
</div>

<div>
  <%= f.label :author%>
  <%= f.text_field :author%>
</div>

<div>
  <%= f.label :edition%>
  <%= f.number_field :edition%>
</div>

<div>
  <%= f.label :published_at%>
  <%= f.date_field :published_at%>
</div>

<div>
  <%= f.label :publishing_house%>
  <%= f.text_field :publishing_house%>
</div>

<h2> Categories </h2>
<div id='category'>
  <div class="items">
    <%= f.nested_fields_for :categories do |f| %>
      <fieldset class="item">
        <%= f.label :title %>
        <%= f.text_field :title, name: 'book[category_titles][]' %>

        <a href="#" class="remove">remove</a>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>

  <a href="#" class="add">add categories</a>
</div>

<%= f.submit %>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $ ('#category').nestedFields();
  </script>
<% end %>