<div id='books'>
  <%- @books.each do |book| %>
    <div class='book'>
      <%= link_to book do%>

        <span class='title'> <%= book.title %> </span>
        <span class='author'> <%= book.author %> </span>


        <%= image_tag book.url %>
        <b> Edition: <%= book.author %> </b>
      <% end %>

      <%- if book.categories.present? %>
        <b> Categories: </b>
        <%- book.categories.each do |category| %>
          <div class='categories'>
            <%= category.title %>
          </div>
        <% end %>

        <%- if current_user && book.user_id == current_user.id  %>
          <div class='edition'>
            <%= link_to 'edit', edit_book_path(book) %>
          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <%= will_paginate @books %>
</div>