<div id='books'>
  <%- @books.each do |book| %>

    <div class='book'>
      <%= link_to book do%>
        <span class='title'> <%= book.title %> </span>
        <span class='author'> <%= book.author %> </span>
        <span class='border'></span>
        <%= image_tag book.url%>
      <% end %>

      <div id='category'>
        <%- if book.categories.present? %>
          <%- book.categories.limit(4).each do |category| %>
            <span class='categories'>
              <%= category.title %>
            </span>
          <% end %>
      </div>

        <%- if current_user && book.user_id == current_user.id  %>
          <div class='edition'>
            <%= link_to 'edit', edit_book_path(book) %>
          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <%= will_paginate @books %>
</div>