<div>
  <%= f.label :published%>
  <%= f.check_box :published%>
</div>

<div>
  <%= f.label :title%>
  <%= f.text_field :title%>
</div>

<div>
  <%= f.label :author%>
  <%= f.text_field :author%>
</div>

<div>
  <%= f.label :edition%>
  <%= f.number_field :edition%>
</div>

<div>
  <%= f.label :published_at%>
  <%= f.date_field :published_at%>
</div>

<div>
  <%= f.label :publishing_house%>
  <%= f.text_field :publishing_house%>
</div>

<%= f.submit %>