<h1>Books list</h1>

<div id='#books'>
  <%- @books.each do |book| %>
    <%= link_to book do%>
      <div class='book'>
        <%= image_tag book.url %>
        <br/>
        <b> <%= book.title %> </b>
        <b> <%= book.author %> </b>
        <br/>
        <b> Edition: <%= book.author %> </b>
      </div>
    <% end %>

    <b> Categories: </b>
    <%- book.categories.each do |category| %>
      <div class='categories'>
        <%= category.title %>
      </div>
    <% end %>

    <%- if current_user && book.user_id == current_user.id  %>
      <div class='edition'>
        <%= link_to 'edit', edit_book_path(book) %>
      </div>
    <% end %>
  <% end %>

  <%= will_paginate @posts %>
</div>