<h1>Books <%= @book.title %></h1>

<div id='book'>
  <div class= 'file'>
    <div id="issuu-<%= @book.id %>-viewer">
      <%= book_viewer @book, 600, 400 %>
    </div>
    <p>Edition: <%= @book.edition%></p>
    <p>Published at: <%= @book.published_at%></p>
  </div>
</div>